@font-face {
    font-family: Alegreya;
    src: url(../fonts/Alegreya/static/Alegreya-Regular.ttf);
}

@font-face {
    font-family: Anaktoria;
    src: url(../fonts/anaktoria/Anaktoria.woff);
}

@font-face {
    font-family: Margo;
    src: url(../fonts/margoserif-regular-webfont.woff);
}

html {
    /* apply a natural box layout model to all elements, but allowing components to change */
  box-sizing: border-box;

    --color-druid-green: #595c2f;
    --color-midnight-ivy:#2e3117;
    --color-dusty-pink:#d4b2a3;
    --color-brick-red:#793113;
    --color-parchment:#f7f5f3;
    --color-frosted-moss:#a2a79b;
    --color-royal-ink:#1e1e1e;

    --font-body: Alegreya, serif;
    --font-headings: Margo, serif;
    --font-main: Anaktoria, serif;

}

*, *:before, *:after {
  box-sizing: inherit;
}

p {
    font-family: var(--font-body);
    line-height: 1.5;
}

h1, h2, h3, h4 {
    font-family: var(--font-main);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  background-color: grey;
}

.dot--druid-green {
    background-color: var(--color-druid-green);
}

.dot--midnight-ivy {
    background-color: var(--color-midnight-ivy);
}

.dot--dusty-pink {
    background-color: var(--color-dusty-pink);
}

.dot--brick-red {
    background-color: var(--color-brick-red);
}

.dot--parchment {
    background-color: var(--color-parchment);
}

.dot--frosted-moss {
    background-color: var(--color-frosted-moss);
}
.dot--royal-ink {
    background-color: var(--color-royal-ink);
}

img {
    max-width: 100%;
}

.component img {
    max-width: initial;
    
}

.component__img {
    border: 1px solid var(--color-midnight-ivy);
    overflow-x: scroll;
}

/** announcement section
*notes: currently items are on two lines. Unsure how to make dateopening text center while icons are to the right. Possibly absolute positioning, but then how do I get the items to be next to eachother on the same line?
**/

.component--announcement {
    background-color: var(--color-druid-green);
    border: 1px solid var(--color-midnight-ivy);
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 auto;

}

.component--announcement h4 {
    color: var(--color-parchment);
    font-weight: 400;
    padding: 1em;
    font-size: 0.8em;
    display: inline-block;
}

.component--announcement p {
    color: var(--color-parchment);
    font-size: 0.8em;
    display: inline-block;

}



