
/* Fonts */
@font-face {
    font-family: Alegreya;
    src: url(../fonts/Alegreya/static/Alegreya-Regular.ttf);
}

@font-face {
    font-family: Anaktoria;
    src: url(../fonts/anaktoria/Anaktoria.woff);
}

@font-face {
    font-family: Margo;
    src: url(../fonts/margoserif-regular-webfont.woff);
}

/* Baseline styles */

html {

    background-color: var(--color-parchment);

    /* apply a natural box layout model to all elements, but allowing components to change */
    box-sizing: border-box;

    --color-brick-red:#793113;
    --color-druid-green: #595c2f;
    --color-dusty-pink:#d4b2a3;
    --color-frosted-moss:#a2a79b;
    --color-midnight-ivy:#2e3117;
    --color-parchment:#f7f5f3;
    --color-royal-ink:#1e1e1e;
    
    --font-body: Alegreya, serif;
    --font-main: Anaktoria, serif;
    --font-headings: Margo, serif;
}

body {
    margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p, tr p {
    font-family: var(--font-body);
    line-height: 1.5;
    letter-spacing: 1px;
}

h1, h2, h3, h4, th, .uppercase {
    font-family: var(--font-main);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.margo {
    font-family: var(--font-headings);
}

.margo--red {
    color: var(--color-brick-red);
}

.lowercase {
    font-family: var(--font-main);
    text-transform: lowercase;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

svg {
    width: 20px;
    height: 20px;
    color: var(--color-parchment);
    margin: 0 2px;
}

h2 {
    margin-top: 5rem;
}

main {
    padding: 1rem;
    margin-left: 200px;
}

.component--paper {
    background-image: url(../imgs/cardboard_ivory.jpg);
}

/* Navbar */

.navbar h1 {
    font-size: 1.2em;
    padding-left: 10px;
}

.navbar {
    padding: 1rem;
    width: 200px;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: var(--color-frosted-moss);
}

.navbar a {
    display: block;
    font-family: var(--font-main);
    text-transform: lowercase;
    color: inherit;
    padding: 0.5rem 10px;
    font-size: 1.2em;
    }

/* Colors */

.dot {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: inline-block;
  background-color: grey;
  margin: 0 0 1rem 0;
}

.dot--druid-green {
    background-color: var(--color-druid-green);
}

.dot--midnight-ivy {
    background-color: var(--color-midnight-ivy);
}

.dot--dusty-pink {
    background-color: var(--color-dusty-pink);
}

.dot--brick-red {
    background-color: var(--color-brick-red);
}

.dot--parchment {
    background-color: var(--color-parchment);
    border: solid 2px lightgrey;
}

.dot--frosted-moss {
    background-color: var(--color-frosted-moss);
}
.dot--royal-ink {
    background-color: var(--color-royal-ink);
}

.colors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    margin: 2em;
}

.colors__color {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.colors__color p {
    margin: 0;  
    padding: 0;
}

.colors__color_name {
    font-size: 100%;
}

.colors__color__hex {
    color: var(--color-frosted-moss);
    font-size: 80%;
}

.colors__color__default {
    font-size: 80%;
}


/* Header */

.header__social-icons {
    margin:0.5rem 0.5rem;
    background-color: var(--color-druid-green);
    display: inline-block;
} 

.header {
    background-color: var(--color-druid-green);
    text-align: center;
    max-width: 100%;
    position: relative;
    anchor-name: --header;
}

.header h4 {
    color: var(--color-parchment);
    font-weight: 400;
    padding: 2em;
    font-size: 0.8em;
    margin: 0;
}

.header--text {
    background-color: var(--color-druid-green);
    color: var(--color-parchment);
    font-size: .9em;
    padding: 0.5em;
    max-width: max-content;
}

.header__social-icons {
    background-color: var(--color-druid-green);
    color: var(--color-parchment);
    max-width: max-content;
    position: absolute;
    position-anchor: --header;
    right: anchor(right);
    top: anchor(top);
}

.ivy1 {
    position: absolute;
    position-anchor: --header;
    top: anchor(5%);
    right: anchor(102%);
    width: 460px;
}

/* Hero */

.hero {
    text-align: center;
    padding-top: 1rem;
    anchor-name: --hero;
}

.hero__tagline {
    width: 100%;
    max-width: 600px;
    text-align: center;
    font-size: 0.9em;
    color: var(--color-druid-green);
}

.hero__navbar {
    margin: auto;
}

.hero__navbar a {
    padding: 1rem;
    color: var(--color-royal-ink);
    font-size: 0.9em;
    text-wrap: nowrap;
    display: inline-block;
    min-width: 0;
    overflow: hidden;
}

.hero__hr {
    margin: 2px 0;
    border: solid 1px var(--color-brick-red);
}

.ivy2 {
    position: absolute;
    position-anchor: --hero;
    left: anchor(left);
    bottom: anchor(bottom);
    max-width: 20vw;
    pointer-events: none;
}

/* Blockquote */

.blockquote {
    background-color: rgb(0, 0, 0, 0.5);
    background-image: url(../imgs/blockquote_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    text-align: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    max-width: 100%;
    padding: 10rem;
}

.blockquote p{
    color: var(--color-parchment);
    opacity: 0.8;
    padding: 8rem 0;
    font-size: 2.1em;
    margin: 0 auto;
    font-family: var(--font-main);
    text-transform: lowercase;
    max-width: 1000px;
    line-height: 110%;
    letter-spacing: 0.5px;
}

.blockquote__text p {
    padding: 0;
    margin: 0;
}

.blockquote--text-only, p.blockquote--text-only {
    padding: 0;
    margin: 0;
    display: block;
    width: max-content;
}

/* About */

.about {
    display: flex;
    justify-content: center;
    padding: 3rem 0 5rem 0;
}

.ivy3 {
    position: absolute;
    position-anchor: --about;
    bottom: anchor(110%);
    left: anchor(-2%);
    width: 400px;
}

.ivy4 {
    position: absolute;
    position-anchor: --about;
    right: anchor(right);
    top: anchor(-10%);
    width: 200px;
}

.about img {
    flex-shrink: 2;
    max-width: 100%;
    align-self: center;
}

.about__text {
    justify-content: center;
    border: 1px solid var(--color-royal-ink);
    padding: 5rem 4rem;
    text-align: center;
    max-width: 700px;
    max-height: 600px;
    min-width: 0;
    overflow: auto;
    margin: 0 1rem;
    flex-shrink: 1;
    anchor-name: --about;
}

.about__text p {
    padding: 12px 0;
}

/* Carousel */

.carousel {
    text-align: center;
}

.carousel__img {
    width: 100%;
}

.carousel__buttons svg{
    color: var(--color-royal-ink);
    height: 40px;
    width: 40px;
    margin: 1rem;
}

/* Main Page Sections */

.main__headings {
    background-color: var(--color-midnight-ivy);
    font-size: 2.5em;
    text-align: center;
    padding: 1rem;
    margin: 0;
}

.main__headings .margo {
    margin: 0;
    color: var(--color-parchment);
}

p.lowercase {
    padding: 2rem;
    margin: 0;
    display: inline-block;
    letter-spacing:normal;
    font-size: 1.05em;
}

/* Locations grid */


.locations {
    text-align: center;
    max-width: 1100px;
    margin: auto;
}

.locations-grid__screenshot {
    display: inline-block;
}

p.locations__blockquote {
    border: solid 1px var(--color-royal-ink);
    font-size: 1.2em;
    width: 100%;
    margin: 2rem 0;
    font-family: var(--font-main);
    padding: 2rem 0.8rem;
    
}

.main__locations-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60vh 60vh;
    grid-gap: 30px;
    margin: 2rem auto;
}

.locations-grid__grid-item--text {
    border: solid 1px var(--color-royal-ink);
    text-align: center;
    display: inline-block;

}

.locations-grid__grid-item--text p {
    overflow: auto;
}

.locations-grid__grid-item--text.text-only {
    border: none;
    display: inline;
    text-align: left;
}

.locations-grid__grid-item--text.text-only p {
    text-align: center;
    margin: 2rem auto;
    display: block;
    margin: 0;
}

.locations-grid__grid-item--text__text-only {
    margin: 2rem auto;
    display: block;
}

.locations-grid.margo {
    font-size: 2em;
    margin: 1em 0 0 0;
}

.locations-grid__grid-item--text p {
    margin: 0;
}

.locations-grid__grid-item--text .special-text {
    padding: 2em 0 1em 0;
}

.illustration {
    width: 30%;
    padding: 1.5rem 0;
}

.locations-grid__more-button {
    background-color: var(--color-druid-green);
    text-decoration: none;
    color: var(--color-parchment);
    font-size: 1.4em;
    padding: 0.8rem;
    display: inline-block;
    width: 100%;
    font-weight: 400;
}

.locations-grid__grid-item--image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.main__services {
    text-align: center;
    border: 1px solid var(--color-royal-ink);
    max-width: 1000px;
    padding-top: 4rem;
    margin: 3rem auto;
    anchor-name: --services;
}

.ivy5 {
    position: absolute;
    position-anchor: --services;
    right: anchor(right);
    top: anchor(-6%);
    width: 200px;
}

.main__services p {
    letter-spacing: normal;
    font-size: 1.1em;
    padding: 1rem 2rem;
}

.main__services a {
    background-color: var(--color-druid-green);
    display: block;
    color: var(--color-parchment);
    font-size: 1.5em;
}

.main__services-grid {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: space-around;
    padding-bottom: 2rem;
}

.main__services-grid__item {
    text-align: center;
}

.main__services-grid__item p {
    font-size: 1em;
    margin: auto 0;
}

.crop {
    width: 100px;
    height: 125px;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
}

.crop img {
    height: 150px;
    object-fit: cover;
}

.main__services-grid__item-text {
    text-align: center;
    max-width: 100px;
    font-size: 0.8em;

}

.services-grid__illustration {
    width: 50%;
    margin: 1rem 0 0 0;
}

/* Steps */

.steps__container {
    background-color: var(--color-frosted-moss);
    text-align: center;
    anchor-name: --steps;
}

.steps__container h3 {
    font-size: 2.5em;
    padding: 1em;
    letter-spacing: normal;
    margin-bottom: 0.5rem;

}

.steps__steps {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    margin: 0 15em;
}

.steps__step {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--color-frosted-moss);
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2);
    border: 1px solid var(--color-parchment);
    max-width: 250px;
    padding: 0 1em;
    margin: 0 1rem 3rem 1rem;
}

.steps__step *{
    margin: 0;
}

.step__number {
    font-size: 4em;
    background-color: var(--color-frosted-moss);
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2);
    display: inline-block;
    padding: 1rem;

}

.steps__description {
    display: block;
    max-width: 130px;
    text-align: center;
    font-size: 65%;
    background-color: var(--color-frosted-moss);
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2);
}

.steps__description p {
    line-height: 1.8;
    letter-spacing: normal;
}

.ivy6 {
    position: absolute;
    position-anchor: --steps;
    right: anchor(right);
    top: anchor(-15%);
    max-width: 70vw;
    pointer-events: none;
    opacity: 50%;

}

/* Footer */

.footer__details {
    text-align: center;
    background-color: var(--color-midnight-ivy);
    color: var(--color-parchment);
    padding: 1rem;
    font-size: 70%;
}

.footer__details p {
    padding: 1rem 0;
}

.footer__hr {
    border-bottom: 1px solid var(--color-druid-green);
    margin: 5rem 0 -2rem 0;
}

.footer__logo {
    background-image: url(../imgs/cardboard_ivory.jpg);
    padding: 0 2rem;
}

.footer__illustration, .footer__logo {
    display: block;
    margin: auto;
}

.footer__links__columns {
    display: flex;
    justify-content: center;
}

.footer__links__column {
    padding: 0.5rem;
    margin: 1rem 4rem;
}

.footer__links__column ul {
    list-style: none;
    padding:0;
}

.footer__links__column p {
    padding: 0;
    font-size: 1.8em;
}

.footer__links__column a {
    margin: 0;
    color: var(--color-royal-ink);
    font-size: 0.8em;
}

.footer__links__column li {
    padding: 0.5rem 0;
}

.footer__social-icons svg{
    color: var(--color-royal-ink);
    padding: 0;
}

.footer__socials-text {
    font-family: var(--font-main);
    text-transform: lowercase;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.footer__socials {
    text-align: center;
    display: block;
    margin: 2rem;
    margin-bottom: 0;
}

.back-to-top-button {
    display: none;
    background-color:var(--color-midnight-ivy);
    text-align: center;
    padding: 0.5rem;
}

.back-to-top-button a {
    color: var(--color-parchment);
    text-decoration: none;
    font-size: 2em;
}

/* Illustrations + Decorative Elements */

.ivy, .component__illustrations img {
    border: 5px dotted var(--color-frosted-moss);
    display: inline-block;
    margin: 5px;
}

@media screen and (max-width: 1050px) {
    .about img {
        max-width: 30vw;
    }

    .about__text {
        max-height: 450px;
    }

    .about__text p {
        font-size: 2em;
        font-size: 0.9em;
    }

    .locations-grid.margo {
        font-size: 1em;
    }

    .locations-grid__grid-item--text p {
        font-size: 0.8em;
    }

    .locations-grid__more-button {
        font-size: 1em;
    }

    .main__services-grid {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        justify-content: space-around;
    }

    .services-grid__illustration {
        width: 35%;
        margin: 1rem 0 0 0;
    }

    .main__services-grid__item p {
        font-size: 1.5em;
    }

    .steps__steps {
        margin: 0 5rem;
    }

    .header__social-icons {
        display: none;
    } 

    .blockquote p {
        font-size: 0.8em;
    }

    .ivy1, .ivy2, .ivy3, .ivy5,.ivy6 {
        display: none;
    }

    .footer__links__column {
        margin: 1rem 2rem;
    }


}

@media screen and (max-width: 770px) {
    .navbar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .navbar a {float:left}
        main {margin-left: 0}

    .Hero__navbar {
        font-size: 0.5em;
    }

    .blockquote p {
        font-size: 2em;
    }

    .about__text {
        max-height: none;
    }

    .about__text p {
        font-size: 2em;
        font-size: 0.8em;
    }

    .about img {
        display: none;
    }

    .main__locations-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin: 1rem;
    }

    .locations-grid__grid-item--image img{
        height: 60vh;
        object-fit: cover;
    }

    .greenhouse {
        grid-row: 2 / 3;
    }

    .cottage {
        grid-row: 4 / 5;
    }

    .blockquote p {
        font-size: 0.8em;
    }

    .illustration {
        width: 25%;
        padding: 0;
    }

    .steps__steps {
        margin: 0 1rem;
    }

    .footer__links__columns {
        flex-direction: column;
        align-items: center;
    }

    .footer__links__column {
        text-align: center;
        border-bottom: 2px solid var(--color-midnight-ivy);
    }

    .footer__links__column a {
        font-size: 1.5em;
    }

    .footer__links__column p {
        font-size: 3em;
    }

    .footer__socials-text {
        font-size: 3em;
    }

    .footer__details {
        background-image: url(../imgs/cardboard_ivory.jpg);
        color: var(--color-parchment);
        font-size: 2em;
        color: var(--color-royal-ink);
    }

    .footer__details p {
        padding: 1rem 2rem;
    }

    .back-to-top-button {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .steps__steps {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        align-items: center;
        margin: auto;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        text-align: center;
        float: none;
    }

    .Hero__navbar a {
        display: none;
    }

    .about__text {
        max-height: none;
        font-size: 1em;
    }

    .blockquote p {
        font-size: 0.8em;
    }
}