@font-face {
    font-family: Alegreya;
    src: url(../fonts/Alegreya/static/Alegreya-Regular.ttf);
}

@font-face {
    font-family: Anaktoria;
    src: url(../fonts/anaktoria/Anaktoria.woff);
}

@font-face {
    font-family: Margo;
    src: url(../fonts/margoserif-regular-webfont.woff);
}

html {
    /* apply a natural box layout model to all elements, but allowing components to change */
  box-sizing: border-box;

    --color-druid-green: #595c2f;
    --color-midnight-ivy:#2e3117;
    --color-dusty-pink:#d4b2a3;
    --color-brick-red:#793113;
    --color-parchment:#f7f5f3;
    --color-frosted-moss:#a2a79b;
    --color-royal-ink:#1e1e1e;

    --font-body: Alegreya, serif;
    --font-headings: Margo, serif;
    --font-main: Anaktoria, serif;

    background-color: var(--color-parchment);

}


body {
}

*, *:before, *:after {
  box-sizing: inherit;
}

p, tr p {
    font-family: var(--font-body);
    line-height: 1.5;
}

h1, h2, h3, h4, th, .uppercase {
    font-family: var(--font-main);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
}


.navbar h1 {
    font-size: 1em;
}

.navbar {
    padding: 1rem;
    width: 200px;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: var(--color-frosted-moss);
}

.navbar a {
    display: block;
    font-family: var(--font-main);
    text-transform: lowercase;
    text-decoration: none;
    color: inherit;
    padding: 0 10px;
    }

main {
    padding: 1rem;
    margin-left: 200px;
}

@media screen and (max-width: 700px) {
    .navbar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .navbar a {float:left}
    main {margin-left: 0}
}

@media screen and (max-width: 400px) {
    .navbar a {
        text-align: center;
        float: none;
    }
}

.dot {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  background-color: grey;
}

.dot--druid-green {
    background-color: var(--color-druid-green);
}

.dot--midnight-ivy {
    background-color: var(--color-midnight-ivy);
}

.dot--dusty-pink {
    background-color: var(--color-dusty-pink);
}

.dot--brick-red {
    background-color: var(--color-brick-red);
}

.dot--parchment {
    background-color: var(--color-parchment);
    border: solid 1px lightgrey;
}

.dot--frosted-moss {
    background-color: var(--color-frosted-moss);
}
.dot--royal-ink {
    background-color: var(--color-royal-ink);
}

.colors {
    display: grid;
    grid-template-columns: repeat(2, minmax(30vw, 50vw));
    grid-template-rows: minmax(1fr, 1fr 1fr 1fr);
    margin: 2em;
}

.colors__color {
    padding: 10px;
    margin: 10px;
}

.colors__color p {
    margin: 0;  
    padding: 0;
}

.colors__color_name {
    font-size: 200%;
}

img {
    max-width: 100%;
}

.component__img {
    border: 1px solid var(--color-midnight-ivy);
}

/** announcement section
*notes: currently items are on two lines. Unsure how to make dateopening text center while icons are to the right. Possibly absolute positioning, but then how do I get the items to be next to eachother on the same line?
**/

.component--announcement {
    background-color: var(--color-druid-green);
    border: 1px solid var(--color-midnight-ivy);
    text-align: center;
    max-width: 1275px;
    position: relative;
}

.component--announcement h4 {
    color: var(--color-parchment);
    font-weight: 400;
    padding: 1em;
    font-size: 0.8em;
}

.component--announcement p {
    color: var(--color-parchment);
    font-size: 0.8em;
    position: absolute;
    background-color: red;
}

.component--announcement--text {
    background-color: var(--color-druid-green);
    color: var(--color-parchment);
    font-size: .9em;
    padding: 0.5em;
    max-width: max-content;
}

.component--announcement--icons {
    background-color: var(--color-druid-green);
    color: var(--color-parchment);
    font-size: .9em;
    max-width: max-content;
}

.component__header__tagline {
    background-image: url(../imgs/cardboard_ivory.jpg);
    width: 100%;
    max-width: 600px;
    text-align: center;
    color: var(--color-druid-green);
    font-size: 0.9em;;
}



