<!DOCTYPE html>
<html lang="en">
    <head>
        <title>

        </title>
        <link type="stylesheet" href="../css/main">
    </head>

    <body>
        <h1>Component page here eventually</h1>

        <h2>Typography</h2>

        <img src="../imgs/2_header/cover+nav.png" alt="#">
        <h3 class="anaktoria-uppercase">Anaktoria, uppercase</h3>
        <p class="body">Regular weight (400). Letter spacing 0.1em. Uppercase used for navbar items, header text, grid items.</p>

        <img src="../imgs/3_blockquote/hook_text.png" alt="#">
        <h3 class="anaktoria-lower">Anaktoria, lowercase</h3>
        <p class="body">Regular weight (400). All lower-case used for quotes, footer navigation headings, and “more” buttons.</p>

        <img src="../imgs/4_about/description_text.png" alt="#">
        <h3 class="Alegreya">Alegreya</h3> 
        <p class="body.">Regular weight (400). 1.5 line height. Body copy.</p>
        
    </body>

</html>