<!DOCTYPE html>
<html lang="en">
    <head>
        <title>

        </title>
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
    </head>

    <body>
        <h1>Components</h1>

        <h2>Typography</h2>

        <img 
            srcset="../imgs/2_header/cover+nav.png 2x"
            src="../imgs/2_header/cover+nav.png" alt="#">

        <h3 class="anaktoria-uppercase">Anaktoria, uppercase</h3>
        <p class="body">Regular weight (400). Letter spacing 0.1em. Uppercase used for navbar items, header text, grid items.</p>

        <img 
            srcset="../imgs/3_blockquote/hook_text.png 2x"
            src="../imgs/3_blockquote/hook_text.png" alt="#">

        <h3 class="anaktoria-lower">Anaktoria, lowercase</h3>
        <p class="body">Regular weight (400). All lower-case used for quotes, footer navigation headings, and “more” buttons.</p>

        <img 
            srcset="../imgs/4_about/description_text.png 2x"
            src="../imgs/4_about/description_text.png" alt="#">

        <h3 class="Alegreya">Alegreya</h3> 
        <p class="body.">Regular weight (400). 1.5 line height. Body copy.</p>
        
        <h2>Colors</h2>

        <span class="dot dot--druid-green"></span>
        <p>Druid Green</p>
        <p>#595c2f</p>

        <span class="dot dot--midnight-ivy"></span>
        <p>Midnight Ivy</p>
        <p>#2e3117</p>

        <span class="dot dot--dusty-pink"></span>
        <p>Dusty Pink</p>
        <p>#d4b2a3</p>

        <span class="dot dot--brick-red"></span>
        <p>Brick Red</p>
        <p>#793113</p>

        <span class="dot dot--parchment"></span>
        <p>Parchment</p>
        <p>#f7f5f3</p>

        <span class="dot dot--frosted-moss"></span>
        <p>Frosted Moss</p>
        <p>#a2a79b</p>

        <span class="dot dot--royal-ink"></span>
        <p>Royal Ink</p>
        <p>#1e1e1e</p>
        <p>Default text and illustration color.</p>

        <div class="component">
            <h3>Announcement Banner</h3>
            <p>Parchment color.</p>
            <div class="component__img">
                <img
                    srcset="../imgs/1_announcement/header.png 2x"
                    src="../imgs/1_announcement/header.png"
                    alt="announcement banner">
            </div>
            <div class="component--announcement">
                <h4>Date Opening: October 17, 2026 | Tap for more details</h4>
                <p>social icons (will insert)</p>
            </div>

            <h3>Announcement Text</h3>
            <p>Centered. Anaktoria, uppercase font.</p>
            <img
                srcset="../imgs/1_announcement/header_text.png 2x"
                src="../imgs/1_announcement/header_text.png"
                alt="announcement text">
            
            <div class="component--announcement">
                <h4>Date Opening: October 17, 2026 | Tap for more details</h4>
            </div>

            <h3>Social Icons</h3>
            <p>Right aligned.</p>
            <img
                srcset="../imgs/1_announcement/header_socials.png 2x"
                src="../imgs/1_announcement/header_socials.png"
                alt="announcement banner social media icons">
            
            <div class="component--announcement">
                <p>social icons (will insert)</p>
            </div>
        </div><!--component-->

        <div class="component">
            <h3>Header</h3>
            <p>Centered.</p>
            <img 
                srcset="../imgs/2_header/cover+nav.png 2x"
                src="../imgs/2_header/cover+nav.png" 
                alt="header">

            <div class="component--parchment">
                <!--get logo png-->
                <img
                    srcset="#!"
                    src="#!"
                    alt="logo">
                <p class="uppercase">Backyard micro-weddings for those who believe in fairytales <br> The greenhouse & the enchanted cottage <br> Micro-weddings, elopements & Airbnb <br> Forest, Virginia <br> Est. 2017</p>
                <!--get illustration png-->
                <img
                    srcset="#!"
                    src="#!"
                    alt="logo">
                <hr>
                <div>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Weddings</a></li>
                        <li><a href="">Cottage</a></li>
                        <li><a href="">In-House Services</a></li>
                        <li><a href="">Elope</a></li>
                        <li><a href="">Airbnb</a></li>
                    </ul>
                </div>

                <h3>Logo</h3>
                <p>Dusty pink and Brick red colors.</p>
                <!--get logo png-->
                <img
                    srcset="#!"
                    src="#!"
                    alt="logo">
                
                <h3>Tagline</h3>
                <p>Anaktoria, uppercase font.</p>
                <img
                    srcset="../imgs/2_header/cover_tagline.png 2x"
                    src="../imgs/2_header/cover_tagline.png"
                    alt="header business tagline">

                <h3>Header Navbar</h3>
                <p>Anaktoria, uppercase font.</p>
                <img
                    srcset="../imgs/2_header/cover_navbar.png 2x"
                    src="../imgs/2_header/cover_navbar.png"
                    alt="header navigation bar">
            </div> <!--component--parchment-->
        </div> <!--component-->

        <div class="component">
            <h3>Blockquote</h3>
            <p>Image background. Low opacity black overlay.</p>

            <img
                    srcset="../imgs/3_blockquote/hook.png 2x"
                    src="../imgs/3_blockquote/hook.png"
                    alt="blockquote">

                   <!--insert semi-done coding here--> 

            <h3>Blockquote Text</h3>
            <p>Anaktoria, lowercase font. 0.8 opacity parchment color. Centered text.</p>

            <img
                    srcset="../imgs/3_blockquote/hook_text.png 2x"
                    src="../imgs/3_blockquote/hook_text.png"
                    alt="blockquote text">

        </div><!--component-->


    </body>

</html>